redirects: on
source https://www.nuget.org/api/v2/
nuget FAKE
nuget FSharp.Core ~> 4
nuget FSharp.Data
nuget Suave
nuget Newtonsoft.Json.FSharp
nuget NodaTime 1.3.4 //Newtonsoft.Json.FSharp 3.2.2 (latest) does not work with NodaTime >= 2.0
github fsprojects/Chessie src/Chessie/ErrorHandling.fs

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck

nuget TagLib.Portable

nuget FSharp.Compiler.Tools

nuget EventStore.Client
nuget EventStore.Client.Embedded

nuget Argu