source https://api.nuget.org/v3/index.json
framework: net5.0
storage: none

nuget FSharp.Core
nuget Saturn
nuget Giraffe
nuget Thoth.Json.Net
nuget Thoth.Json.Giraffe
nuget FSharp.Data
nuget System.Xml.XDocument
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget LiteDB 4.1.4 //LiteDB 5 does not work right now
nuget LiteDB.FSharp 2.11.0
nuget CosmoStore
nuget CosmoStore.LiteDB

nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.FontAwesome.Free
nuget Fable.Mocha
nuget Fable.React
nuget Fulma
nuget Thoth.Json
nuget Thoth.Fetch

nuget Feliz
nuget Feliz.Router
nuget Feliz.UseElmish
nuget Feliz.Bulma
nuget Feliz.Bulma.Checkradio
nuget Feliz.Bulma.PageLoader
nuget Feliz.Bulma.QuickView
nuget Feliz.Bulma.Calendar
nuget Feliz.Bulma.Popover
nuget Elmish.SweetAlert
nuget Elmish.Toastr

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Farmer
